html, body {
    height: 100%;
    margin: 0;
}

.page.title {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.page.title .logo {
    width: 64px;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

main.content {
    flex: 1;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/imgs/enchantments.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5;
  z-index: -1; /* order */
}

body {
    font-family: 'Source Code Pro', monospace;
}

/* Header navigation */
#topnav {
    background-color: #3c4056;  /* dark background */
    opacity: 0.25;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between; /* space between site name and links */
    align-items: center;
    font-family: 'Source Code Pro', monospace;
}

#topnav .name {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

#topnav .nav-links {
    margin-left: auto;
}

#topnav .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.5em;
    padding: 5px 10px;          /* space inside the box */
    border-radius: 8px;         /* rounded corners */
    transition: background 0.3s, color 0.3s;  /* smooth effect */
}

#topnav .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* light grey semi-transparent */
    color: #fff;
}

/* Footer navigation */
#bottomnav {
    background-color: #3c4056;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

#bottomnav .nav-links {
    position: absolute;
    right: 20px;
    display: flex;
}

#bottomnav .footer-text {
    text-align: center;
    font-size: 1em;
    color: #4a4e69;
    flex: 1;
}

#bottomnav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
}

/* Contact hover color */
#bottomnav a:hover {
    text-decoration: none;
    color: #fbd52b;
}

/* LinkedIn hover color */
#bottomnav a:nth-child(2):hover {
    text-decoration: none;
    color: #0e76a8;
}

/* GitHub hover color */
#bottomnav a:nth-child(3):hover {
    text-decoration: none;
    color: #6cc644;
}
