html, body {
    height: 100%;
    margin: 0;
}

.text-block {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: rgba(154, 140, 152, 0.8);
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.text-block h2 {
    margin-bottom: 15px;
    font-size: 50px;
}

.text-block p {
    font-size: 1.2em;
    line-height: 1.5;
}


/* tab title logo */
.page.title {
    display: flex;
    align-items: center;
    gap: 0.6em;
}

.page.title .logo {
    width: 64px;
    height: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

main.content {
    flex: 1;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/imgs/enchantments.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5;
  z-index: -1; /* order */
}

body, h1, h2 {
    font-family: 'Source Code Pro', monospace;
}


/* Header navigation */
#topnav {
    opacity: 0.85;
    /* background-color: #f2e9e4; */
    background-color: rgba(242, 233, 228, 0.5);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
}

/* Logo */
.logo img {
    height: 75px;
    width: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.logo img:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#topnav .nav-links {
    margin-left: auto;
}

#topnav .nav-links a {
    opacity: 0.9;
    display: inline-block;
    color: white;
    background-color: #726d80;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.5em;
    padding: 5px 10px;  /* space inside the box */
    border-radius: 8px; /* rounded corners */
    transition: background 0.3s, transform 0.2s;
}

#topnav .nav-links a:hover {
    color: white;
    opacity: 1.0;
    background-color: #457b9d;
    transform: translateY(-2px);
}

/* Footer navigation */
#bottomnav {
    opacity: 0.75;
    background-color: #726d80;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Source Code Pro', monospace;
    flex-wrap: wrap;
}

#bottomnav .nav-links {
    position: relative;
    right: 20px;
    display: flex;
}

#bottomnav .footer-text {
    text-align: center;
    font-size: 1em;
    color: #fff;
    flex: 1;
}

.footer-info {
    text-align: left;
    font-size: 0.9em;
    opacity: 0.8; /* subtle secondary text */
}

#bottomnav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
    /* transition: transform 0.2s ease, color 0.2s ease; */
}

/* Contact hover color */
#bottomnav a:hover {
    text-decoration: none;
    color: #fbd52b;
    /* transform: translateY(-4px); */
}

/* LinkedIn hover color */
#bottomnav a:nth-child(2):hover {
    text-decoration: none;
    color: #0e76a8;
}

/* GitHub hover color */
#bottomnav a:nth-child(3):hover {
    text-decoration: none;
    color: #6cc644;
}
/* Google Scholar hover color */
#bottomnav a:nth-child(4):hover {
    text-decoration: none;
    color: #4285F4;
}

@media (max-width: 700px) {
    #bottomnav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    #bottomnav .footer-text {
        display: none;
    }

    #bottomnav .nav-links {
        position: relative;
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0;
        padding: 10px 0;
    }

    #bottomnav .nav-links a {
        font-size: 1.5em;
        margin: 0 15px;
    }
}
