html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

main.content {
    flex: 1;
}

body {
    font-family: 'Source Code Pro', monospace;
}

/* Header navigation */
#topnav {
    background-color: #333;  /* dark background */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* space between site name and links */
    align-items: center;
    font-family: 'Source Code Pro', monospace;
}

#topnav .name {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

#topnav .nav-links {
    margin-left: auto;
}

#topnav .nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.5em;
}

#topnav .nav-links a:hover {
    text-decoration: underline;
}

/* Footer navigation */
#bottomnav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

#bottomnav .nav-links {
    position: absolute;
    right: 20px;
    display: flex;
}

#bottomnav .footer-text {
    text-align: center;
    font-size: 1em;
    color: #666666;
    flex: 1;
}

#bottomnav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
}

/* LinkedIn hover color */
#bottomnav a:hover {
    text-decoration: none;
    color: #0e76a8;
}

/* GitHub hover color */
#bottomnav a:nth-child(2):hover {
    text-decoration: none;
    color: #6cc644; /* GitHub green on hover */
}
