<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ page.title }}</title>
</head>
<body>

<header id="topnav">
  <a class="name" href="/">andrewholmes.com</a>
  <div class="nav-links">
    <a href="/assests/resume/resume.pdf">resume</a>
    <a href="/contact">contact</a>
    <a href="/about">about</a>
    <a href="/research">research</a>
  </div>
  <div class="hamburger" style="font-weight: bold;">&#9776;</div>
</header>

<main>
    {{ content }}
</main>

<footer id="bottomnav">
	<a href="https://linkedin.com/in/holmes-andrew/">linked in</a>
	<a href="https://github.com/akashiroh">github</a>
</footer>

</body>
</html>
